/* Global Styles */
body {
  font-family: Arial, monospace, sans-serif;
}

h1::first-line {
  text-transform: uppercase;
}

.page-portfolio {
  background-image: url(images/bg-circle.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

/* Navbar Styles */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #c4d3d4, #a2b9bc);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar__brand {
  display: flex;
  align-items: center;
  margin: 0 30px;
  transition: transform 0.3s ease-in-out;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin: 0 20px;
}

.navbar__menu-link {
  font-size: 22px;
  color: #1e444f;
  letter-spacing: 2px;
  text-align: justify;
  line-height: 1.5;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar__menu-link:hover {
  color: #3e6a89;
  transform: scale(1.1);
}

/* Header Styles */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 80px 10px;
}

.header__portrait,
.header__brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__portrait-image {
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 240px;
}

.header__brand__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}

.header__brand__info-title,
.info__container-header-title {
  font-size: 22px;
  color: #1e444f;
  letter-spacing: 2px;
  margin: 10px;
  line-height: 1.5;
  text-align: start;
  font-weight: bold;
}

.header__brand__info-name {
  text-decoration: underline;
  font-weight: bold;
  text-align: justify;
}

.header__brand__info-text,
.info__container-text,
.contact-form__title,
.footer__container-text,
.header__brand__info-title {
  font-size: 16px;
  color: #284b63;
  font-weight: 400;
  line-height: 1.5;
  text-align: start;
  margin: 10px;
  text-indent: 15px;
}

.header__brand__info-title {
  font-size: 20px;
  line-height: 10px;
}

/* Info Section Styles */
.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.info__skills {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #284b63;
  font-weight: 400;
  text-align: left;
  text-indent: 15px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.info__skills__column {
  line-height: 25px;
  height: 350px;
  width: 400px;
}

.info__skills__title {
  background-color: #e5edf2;
}

.info__container {
  display: flex;
  flex-direction: column;
}

.info__container-header-title {
  text-align: center;
  background-color: #f5f8f9;
}

/* Contact Form Styles */
.contact-form__container {
  border-radius: 10px;
  background: linear-gradient(135deg, #c4d3d4 0%, #e0e8e9 50%, #f5f8f9 100%);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 3px solid #fff;
}

.contact-form__form-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 10px;
}

.contact-form__form-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form__form-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
}

.contact-form__input,
.contact-form__input::placeholder,
.contact-form__select,
.contact-form__textarea::placeholder,
.contact-form__file-input {
  font-family: Arial, monospace, sans-serif;
  width: 190px;
  color: #1e444f;
  height: 30px;
  font-size: 14px;
}

.contact-form__submit-btn {
  background-color: #e5edf2;
  font-size: 20px;
  width: 130px;
  height: 50px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #1e444f;
}

.contact-form__submit-btn:hover {
  background-color: #c4d3d4;
}

.contact-form__label,
.contact-form__radio-label {
  font-size: 16px;
  color: #284b63;
  font-weight: 400;
  text-align: start;
}

.contact-form__control {
  display: flex;
  justify-content: center;
}

/* Footer Styles */
.footer {
  text-align: center;
  margin-top: 80px;
  padding: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__link a {
  &:hover {
    color: burlywood;
  }

  &:visited {
    color: #3c6e71;
  }
}

.footer__container-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  gap: 200px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.footer__container-text {
  font-size: 16px;
  color: #284b63;
  font-weight: 400;
  line-height: 1.5;
  text-align: start;
  margin: 10px;
  text-indent: 15px;
}

.section_footer__footer-logo {
  width: 40px;
  height: 40px;
}
